<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

	<div th:replace="~{fragment :: meta}"></div>

	<div th:replace="~{fragment :: styles}"></div>

	<title>NAGOYAMESHI</title>
</head>

<body>

	<div class="nagoyameshi-wrapper">
		<!-- ヘッダー -->
		<div th:replace="~{fragment :: header}"></div>

		<main>
			<div class="container pt-4 pb-5 nagoyameshi-container">
				<div th:if="${param.loggedIn}" class="alert alert-info">
					ログインしました。
				</div>

				<div th:if="${param.loggedOut}" class="alert alert-info">
					ログアウトしました。
				</div>

				<div th:if="${successMessage}" class="alert alert-info">
					<span th:text="${successMessage}"></span>
				</div>

				<div class="d-flex justify-content-center">
					<form method="get" th:action="@{/houses}" class="mb-5 nagoyameshi-search-form">
						<div class="input-group">
							<input type="text" class="form-control" name="keyword" th:value="${keyword}"
								placeholder="店舗名・目的地">
							<button type="submit" class="btn text-white shadow-sm nagoyameshi-btn">検索</button>
						</div>
					</form>
				</div>
				
				<div class="card mb-3">
					<div class="card-header">
						カテゴリから探す
					</div>
					<div class="card-body">
						<form method="get" th:action="@{/houses}" class="w-100">
							<div class="form-group mb-3">
								<select class="form-control form-select" name="area">
									<option value="" hidden>選択してください</option>
										<option value="北海道" th:selected="${area == '北海道'}">新着</option>
										<option value="ラーメン" th:selected="${area == '青森県'}">ラーメン</option>
										<option value="茨城県" th:selected="${area == '茨城県'}">居酒屋</option>
								</select>
							</div>
							<div class="form-group">
								<button type="submit" class="btn text-white shadow-sm w-100 nagoyameshi-btn">検索</button>
							</div>
						</form>
					</div>
				</div>
				
				<h2 class="text-center mb-3">新着</h2>
				<div class="row row-cols-lg-5 row-cols-2 g-3 mb-5">
					<div class="col" th:each="newHouse : ${newHouses}">
						<a th:href="@{/houses/__${newHouse.getId()}__}" class="link-dark nagoyameshi-card-link">
							<div class="card h-100">
								<img th:if="${newHouse.getImageName()}"
									th:src="@{/storage/__${newHouse.getImageName()}__}"
									class="card-img-top nagoyameshi-vertical-card-image" alt="店舗画像">
								<img th:unless="${newHouse.getImageName()}" th:src="@{/images/noImage.png}"
									class="card-img-top nagoyameshi-vertical-card-image" alt="NO IMAGE">
								<div class="card-body">
									<h3 class="card-title" th:text="${newHouse.getName()}"></h3>
									<p class="card-text mb-1">
										<small class="text-muted" th:text="${newHouse.getAddress()}"></small>
									</p>
									<p class="card-text">
										<span
											th:text="${#numbers.formatInteger(newHouse.getPrice(), 1, 'COMMA') + '円 / コース'}"></span>
									</p>
								</div>
							</div>
						</a>
					</div>
				</div>

				<hr>

				<h2 class="text-center mb-3">ラーメン</h2>
				<div class="row row-cols-lg-5 row-cols-2 g-3 mb-5">
					<div class="col" th:each="newHouse : ${newHouses}">
						<a th:href="@{/houses/__${newHouse.getId()}__}" class="link-dark nagoyameshi-card-link">
							<div class="card h-100">
								<img th:if="${newHouse.getImageName()}"
									th:src="@{/storage/__${newHouse.getImageName()}__}"
									class="card-img-top nagoyameshi-vertical-card-image" alt="店舗画像">
								<img th:unless="${newHouse.getImageName()}" th:src="@{/images/noImage.png}"
									class="card-img-top nagoyameshi-vertical-card-image" alt="NO IMAGE">
								<div class="card-body">
									<h3 class="card-title" th:text="${newHouse.getName()}"></h3>
									<p class="card-text mb-1">
										<small class="text-muted" th:text="${newHouse.getAddress()}"></small>
									</p>
									<p class="card-text">
										<span
											th:text="${#numbers.formatInteger(newHouse.getPrice(), 1, 'COMMA') + '円 / コース'}"></span>
									</p>
								</div>
							</div>
						</a>
					</div>
				</div>

				<hr>

				<h2 class="text-center mb-3">居酒屋</h2>
				<div class="row row-cols-lg-5 row-cols-2 g-3 mb-5">
					<div class="col" th:each="newHouse : ${newHouses}">
						<a th:href="@{/houses/__${newHouse.getId()}__}" class="link-dark nagoyameshi-card-link">
							<div class="card h-100">
								<img th:if="${newHouse.getImageName()}"
									th:src="@{/storage/__${newHouse.getImageName()}__}"
									class="card-img-top nagoyameshi-vertical-card-image" alt="店舗画像">
								<img th:unless="${newHouse.getImageName()}" th:src="@{/images/noImage.png}"
									class="card-img-top nagoyameshi-vertical-card-image" alt="NO IMAGE">
								<div class="card-body">
									<h3 class="card-title" th:text="${newHouse.getName()}"></h3>
									<p class="card-text mb-1">
										<small class="text-muted" th:text="${newHouse.getAddress()}"></small>
									</p>
									<p class="card-text">
										<span
											th:text="${#numbers.formatInteger(newHouse.getPrice(), 1, 'COMMA') + '円 / コース'}"></span>
									</p>
								</div>
							</div>
						</a>
					</div>
				</div>
				
				<div class="row justify-content-center">
					<div class="col-xl-5 col-lg-6 col-md-8">
						<h2 class="text-center mb-3">エリアから探す</h2>
						<table class="table">
							<tbody>
								<tr>
									<td>
										<a th:href="@{/houses?area=名古屋市千種区}">千種区</a>
									</td>                                  
									<td>                                   
										<a th:href="@{/houses?area=名古屋市中村区}">中村区</a>
									</td>                                  
									<td>                                   
										<a th:href="@{/houses?area=名古屋市東区}">東区</a>
									</td>                                  
									<td>                                   
										<a th:href="@{/houses?area=名古屋市昭和区}">昭和区</a>
									</td>                                  
									<td>                                   
										<a th:href="@{/houses?area=名古屋市瑞穂区}">瑞穂区</a>
									</td>                                  
									<td>                                   
										<a th:href="@{/houses?area=名古屋市熱田区}">熱田区</a>
									</td>                                  
									<td>                                   
										<a th:href="@{/houses?area=名古屋市中川区}">中川区</a>
									</td>                                 
									<td>                                   
										<a th:href="@{/houses?area=名古屋市港区}">港区</a>
									</td>                                  
									<td>                                   
										<a th:href="@{/houses?area=名古屋市南区}">南区</a>
									</td>                                  
									<td>                                   
										<a th:href="@{/houses?area=名古屋市守山区}">守山区</a>
									</td>                                 
									<td>                                   
										<a th:href="@{/houses?area=名古屋市緑区}">緑区</a>
									</td>                                  
									<td>                                   
										<a th:href="@{/houses?area=名古屋市名東区}">名東区</a>
									</td>                                  
									<td>                                   
										<a th:href="@{/houses?area=名古屋市天白区}">天白区</a>
									</td>                                  
									<td>                                   
										<a th:href="@{/houses?area=名古屋市北区}">北区</a>
									</td>                                  
									<td>                                   
										<a th:href="@{/houses?area=名古屋市西区}">西区</a>
									</td>                                  
									<td>                                   
										<a th:href="@{/houses?area=名古屋市中区}">中区</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</main>

		<!-- フッター -->
		<div th:replace="~{fragment :: footer}"></div>
	</div>

	<div th:replace="~{fragment :: scripts}"></div>
</body>

</html>